* {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

@font-face {
    src: url(../fonts/New\ Cicle\ Fina.ttf);
    font-family: "newcicle";
}

@font-face {
    src: url(../fonts/New\ Cicle\ Gordita.ttf);
    font-family: "newcicle-bold";
}

.active-c {
    width: auto;
    height: auto;
    position: relative;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.13);
}

.top-container-c {
    width: 100%;
    background: #000000 !important;
}

.top-wrapper-c {
    max-width: 1440px;
    margin: auto;
    background: #000000 !important;
    /* box-sizing: border-box; */
    /* overflow: hidden; */
}

.bottom-container-c {
    width: 100%;
    background: #000000;
}

.bottom-wrapper-c {
    max-width: 1440px;
    margin: auto;
    /* box-sizing: border-box; */
    /* overflow: hidden; */
}


/* .navbar {
    padding: .5rem 0rem;
} */

.navbar .top {
    min-height: 115px;
    /* background-color: rosybrown; */
}

.navbar-brand img {
    max-width: 100px;
    max-height: 100px;
    top: 0;
    left: 0;
    /* Safari/Chrome */
    -webkit-filter: invert(100%);
    filter: invert(100%);
    padding: 15px 0px 0px 15px;
    position: absolute;
}

.vibes {
    margin: auto;
    /* justify-content: center; */
    color: #fff;
    letter-spacing: 10px;
    font-family: "newcicle-bold";
}

.vibes h1 {
    font-size: 50px;
    font-weight: bold;
}

.vibes p {
    font-family: "newcicle-bold";
    position: relative;
    float: right;
    letter-spacing: 15px;
    font-size: 30px;
}

.nav-item {
    padding: 0px 20px;
}

.nav-item .nav-link {
    font-size: 20px;
}

.bg-dark {
    background: #000000 !important;
}

.dropdown-menu {
    margin-top: 0;
    border-radius: 0;
}

.dropdown-item {
    font-weight: 600;
}

.dropdown-item:hover {
    color: #000000 !important;
    background-color: rgba(0, 0, 0, 0.26);
}

.dropdown-item:active {
    color: #000000;
    background-color: rgba(36, 36, 36, 0.26);
}

@media (min-width: 992px) {
    .dropdown-item:hover {
        color: white;
    }
    .dropdown:hover>.dropdown-menu {
        display: block;
    }
    .animate-menu {
        animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
}

@keyframes slideIn-menu {
    0% {
        transform: translateX(1rem);
        opacity: 0;
    }
    100% {
        transform: translateX(0rem);
        opacity: 1;
    }
    0% {
        transform: translateX(1rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn-menu {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        -webkit-opacity: 1;
    }
    0% {
        -webkit-transform: translateX(1rem);
        -webkit-opacity: 0;
    }
}

.slideIn-menu {
    -webkit-animation-name: slideIn-menu;
    animation-name: slideIn-menu;
}


/* CONTENT */

.container-content {
    width: 100%;
    /* background: #1f1f1f; */
    background-image: linear-gradient(to top, #2b2b2b 0%, #000000 100%);
}

.wrapper-content {
    max-width: 1440px;
    margin: auto;
    height: 509px;
    background-image: linear-gradient(to top, #2b2b2b 0%, #000000 100%);
    /* background: #1f1f1f !important; */
    /* box-sizing: border-box; */
    /* overflow: hidden; */
    color: #fff;
}


/* ------- */

@media(max-width: 1295px) {
    .nav-item {
        padding: 0px 10px;
    }
}

@media(max-width: 1154px) {
    .nav-item {
        padding: 0px;
    }
}

@media(max-width: 991px) {
    .navbar {
        padding: 10px 0px;
    }
    .navbar-toggler {
        margin-left: 10px;
    }
    .navbar-nav {
        padding: 10px 0px;
    }
    .nav-item {
        padding: 0px 10px;
    }
    .active-c {
        padding: 10px 10px;
    }
    /* .nav-link {
        padding: 20px 20px;
    } */
}


/*

background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
*/

@media(max-width: 600px) {
    .navbar-brand {
        margin: auto;
        width: 100%;
    }
    .navbar-brand img {
        padding: 0;
        margin: auto;
        position: relative;
        display: flex;
    }
    .nav-item .active {
        background: rgba(224, 255, 255, 0.562);
    }
    .vibes p {
        text-align: center;
        font-family: "newcicle-bold";
        /* position: relative; */
        letter-spacing: 15px;
        /* margin: auto; */
        width: 100%;
        font-size: 30px;
    }
    .vibes-h1 {
        letter-spacing: 5px;
        text-align: center;
    }
}


/* @media(max-width: 391px) {
            .vibes {}
            .vibes h1 {
                float: left;
                width: 50%;
            }
            .vibes p {
                position: relative;
                margin: 0;
                float: left;
                width: 50%;
                font-size: 40px;
                bottom: -60px;
            }
        } */